@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .polygonRight {
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
  }

  .polygonLeft {
    clip-path: polygon(0 60%, 60% 82%, 0 100%);
  }

  .polygonLeftMd {
    clip-path: polygon(0 45%, 60% 76%, 0 100%);
  }

  .rectangleFaq {
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  }

  .rectangleFaqLg {
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  }

  .rectangleFooter {
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
  }

  .rectangleFooterLg {
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
  }
}
